/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Tailwind base layers */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global body styles */
body {
  @apply font-inter text-gray-800 bg-muted;
}

/* Utility class to hide scrollbars (works on all browsers) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
